# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.vercel

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
._*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
__pycache__/

# Capacitor iOS
ios/App/Pods/
ios/App/App.xcworkspace/
ios/.DS_Store

# Capacitor Android
android/.gradle/
android/app/build/
android/build/
